%%-*- mode: erlang -*-

{dev_mode, true}.
{release, {blog_code, "2.0.0"}, [ blog_code
                                , syntax_tools
                                , compiler
                                , sync
                                , runtime_tools
                                , wx
                                , observer
                                ]
}.
{sys_config, "./rel/sys.config"}.
{vm_args, "./rel/vm.args"}.
{extended_start_script, true}.
