%% -*- mode: erlang -*-

[ { blog_code
  , [ {port, 9999}
    ]
  }
, { lager
  , [ { handlers,
        [ {lager_console_backend, debug}
        , {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
        , {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
        ]
      }
    ]
  }
, { sync
  , [ {log, all}
    ]
  }
].
